@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=c2FwLWNyaXN0aWFubzo0c1RDR3lDWjhUZE56UGdBTFNtWEFJRjNJc3BJeEk2TQ==
always-auth=true
