@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMDI3OTk4OS1mcm9udDIwMjU6aGc0SWNDaGRnWWRxb0tYYXBRbmRwc0d0azhMVFVyQ1o=
always-auth=true
 
@tua:registry=https://73555000100900006402.npmsrv.base.repositories.cloud.sap/
//73555000100900006402.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMDI3OTk4OS1mcm9udDIwMjU6aGc0SWNDaGRnWWRxb0tYYXBRbmRwc0d0azhMVFVyQ1o=
always-auth=true